# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# 
# Thu May 23 04:15:03 JST 2013
allowDebugOutput=false
allowUpdateCheck=true
checksum=1wk
